@model IEnumerable<CarteleraCine.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Salas</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Crear Sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoButacas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoButacas)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.SalaId">Editar</a> 
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.SalaId">Detalles</a> 
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.SalaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
