@model IEnumerable<CarteleraCine.Models.Funcione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-warning" asp-action="Create">Crear Funcion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.PeliculaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.SalaId)
            </td>
            <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.FuncionId">Editar</a> 
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.FuncionId">Detalles</a> 
                    <a class="btn btn-sm btn-warning" asp-action="Delete" asp-route-id="@item.FuncionId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
